@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: poppins;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {    
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  width: 100%;
  max-width: 1440px;
}
h1 {
  font-size: 3rem;
  font-family: poppins;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  font-family: poppins;
  font-weight: 700;
}
p {
  font-family: poppins;
}

.navKiri {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 20%;

  font-family: poppins;

  ul{
    li{
      padding: 0;
      padding-left: 1rem;
      margin: 0;
    }
  }
}
.contentIni {
  padding-left: calc(20% + 4rem);
  height: 100vh;
  width: 100%;
  background-color: var(--background);
}